.maps {
  width: 80%;
  margin: 0 auto;
}

.contact {
  font-size: 2rem;
  margin: 2rem;
}

.naruto-run > img {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;
}

@media screen and (max-width: 750px) {
  .naruto-run > img {
    width: 60%;
  }

  .maps > iframe {
    height: 300px;
  }
}
